<% include ../partials/headers/header.ejs %>

<div class="contianer">
  <div class="row ">
    <div class="col-md-12 col-lg-12 col-sm-9 ">
      <% if(joinedEvents.length <=0 ){%>
      <p class="text-center">
        <strong>You have not enrolled on any events yet</strong>
      </p>
      <%} else { %>

      <h1>Joined Events</h1>
      <% joinedEvents.map(event => { %>
      <div class="card bg-light client-event-card">
        <h5 class="card-header" title="Event Title">
          <%= event.title %>
          <span class="float-right" title="Total Seats / Seats Taken"
            ><%= event.total_seat%>/ <%= event.seats_taken %></span
          >
        </h5>

        <div class="card-body">
          <h5 class="card-title" title="Name of Instructor">
            Instructor: <%= event.instructor %>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted" title="Date">
            <%= event.start_date.toDateString()%>-<%=
            event.end_date.toDateString() %>,
          </h6>
          <h6 class="card-subtitle mb-2 text-muted" title="Time">
            <%= event.start_time %>-<%= event.end_time %>
          </h6>
          <p class="card-text" title="Description">
            <%= event.description %>
          </p>

          <form
            class="cancel_form"
            action="events/cancel/<%= event._id %>"
            method="POST"
          >
            <button class="btn btn-danger btn-block cancel_btn">Cancel</button>
          </form>
        </div>
        <div class="card-footer text-muted" title="Location Of Gym">
          Location: <%= event.gym_location %>, <%= event.room_number %>
        </div>
      </div>
      <% })%> <% } %>

      <!-- List of Events User is not enrolled into -->
      <% if(notJoinedEvents.length <=0 ){%>
      <p>You are enrolled in all current Envents</p>
      <%} else { %>
      <h2>Events You might be interested in..</h2>
      <% notJoinedEvents.map(event => { %>
      <div class="card bg-light client-event-card">
        <h5 class="card-header" title="Event Title">
          <%= event.title %>
          <span class="float-right" title="Total Seats / Seats Taken"
            ><%= event.total_seat%>/ <%= event.seats_taken %></span
          >
        </h5>

        <div class="card-body">
          <h5 class="card-title" title="Name of Instructor">
            Instructor: <%= event.instructor %>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted" title="Date">
            <%= event.start_date.toDateString()%>-<%=
            event.end_date.toDateString() %>,
          </h6>
          <h6 class="card-subtitle mb-2 text-muted" title="Time">
            <%= event.start_time %>-<%= event.end_time %>
          </h6>
          <p class="card-text" title="Description">
            <%= event.description %>
          </p>

          <form
            class="join_form"
            action="events/join/<%= event._id %>"
            method="POST"
          >
            <button class="btn btn-primary btn-block join_btn">Join</button>
          </form>
        </div>
        <div class="card-footer text-muted" title="Location Of Gym">
          Location: <%= event.gym_location %>, <%= event.room_number %>
        </div>
      </div>
      <% })%> <% } %>
    </div>
  </div>
</div>
<% include ../partials/footers/footer.ejs %>
