<% include partials/headers/header.ejs %>

<p class="text-center">Welcome to GYMOID control panel! You can manage the web site from this panel, see updates, and contacts.</em></p>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Hey admin!</h1>
    <p class="lead">Welcome to GYMOID control panel! You can manage the web site from this panel, see updates, and contacts.</p>
  </div>

    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Members</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">4200 <small class="text-muted"></small></h1>
         <!-- <ul class="list-unstyled mt-3 mb-4">
            <li>10 users included</li>
            <li>2 GB of storage</li>
            <li>Email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>-->
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Instructors</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">60 <small class="text-muted"></small></h1>
          <!--<ul class="list-unstyled mt-3 mb-4">
            <li>20 users included</li>
            <li>10 GB of storage</li>
            <li>Priority email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>-->
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Messages</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">29 <small class="text-muted"></small></h1>
          <!--<ul class="list-unstyled mt-3 mb-4">
            <li>30 users included</li>
            <li>15 GB of storage</li>
            <li>Phone and email support</li>
            <li>Help center access</li>
          </ul>-->
          <button type="button" class="btn btn-lg btn-block btn-primary">See all</button>
        </div>
      </div>
    </div>
    
<div class="row">
    <% events.forEach(event => { %>
    <div class="col-md-6 col-lg-6 col-sm-4">
      <div class="card bg-light ">
        <h5 class="card-header">
          <%= event.title %>
          <span class="float-right"
            ><%= event.total_seat%>/ <%= event.seats_taken %></span
          >
        </h5>
  
        <div class="card-body">
          <h5 class="card-title"><%= event.instructor %></h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <%= event.start_date.toDateString()%>-<%=
            event.end_date.toDateString() %>, <%= event.start_time %>-<%=
            event.end_time %>
          </h6>
          <p class="card-text">
            <%= event.description %>
          </p>
          <a href="admin/edit_program/<%= event._id %>" class="btn btn-info btn-block">Edit </a>
        </div>
        <div class="card-footer text-muted">
          Location: <%= event.gym_location %>, <%= event.room_number %>
        </div>
      </div>
    </div>
    <% })%>
  </div>
  
<% include partials/footers/footer.ejs %>
