<% include partials/headers/header.ejs %>

<section class="jumbotron text-center bg-light">
  <div class="container">
    <h1 class="jumbotron-heading">WELCOME TO GYMOID FOR LIIKKU</h1>
    <p class="lead text-muted">
      We have an easy-to-use web portal for managing the events for Liikku
      health center. Login and manage your business efficiently.
    </p>
    <p>
      <a href="/login" class="btn btn-primary my-2">LOGIN</a>
      <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
    </p>
  </div>
</section>

<div class="row">
  <% events.forEach(event => { %>
  <div class="col-md-6 col-lg-6 col-sm-4">
    <div class="card bg-light ">
      <h5 class="card-header">
        <%= event.title %>
        <span class="float-right"
          ><%= event.total_seat%>/ <%= event.seats_taken %></span
        >
      </h5>

      <div class="card-body">
        <h5 class="card-title"><%= event.instructor %></h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <%= event.start_date.toDateString()%>-<%=
          event.end_date.toDateString() %>, <%= event.start_time %>-<%=
          event.end_time %>
        </h6>
        <p class="card-text">
          <%= event.description %>
        </p>
        <a href="#" class="btn btn-primary">Enroll Me </a>
      </div>
      <div class="card-footer text-muted">
        Location: <%= event.gym_location %>, <%= event.room_number %>
      </div>
    </div>
  </div>
  <% })%>
</div>

<% include partials/footers/footer.ejs %>
